
.wishlist_card{
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  height: 430px;
}

.wishlist_card .cross{
  position:absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.wishlist_card .data{
  padding: 20px 12px;
  width: 100%;
}

.wishlist_card h5.title{
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color:var(--color-title)
}

.wishlist_card h6.price{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--dark-orange);
}

.wishlist_card_img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishlist_card_img img{
  width: 85%;
  height: 200px;
  margin: 50px 0;
  border-radius: 6px;
}
