.main_banner_content{
  top: 15%;
  left: 7%;
}

.main_banner_content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-orange);
  margin: 0px 0px 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main_banner_content h5{
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main_banner_content p{
  font-size: 18px;
  line-height: 20px;
  letter-spacing: .4px;
  color: var(--color-main);
}

.small_banner{
  width: 49%;
}

.small_banner_content{
  top: 25%;
  left: 5%;
}

.small_banner_content h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-orange);
  margin: 0px 0px 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small_banner_content h5{
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small_banner_content p{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .4px;
  color: var(--color-main);
}


.home_wrapper_2 p{
  font-size: 14px;
}

.home_wrapper_2 .categories{
  background: #fff ;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.home_wrapper_2 .categories>div{
  width: 25%;
  padding: 5px 10px 5px 20px;
}

.home_wrapper_2 .categories>div>div{
  width: 60%;
  padding: 10px;
}

.home_wrapper_2 .categories>div:nth-child(1),
.home_wrapper_2 .categories>div:nth-child(2),
.home_wrapper_2 .categories>div:nth-child(3),
.home_wrapper_2 .categories>div:nth-child(4){
  border-bottom: 1px solid #ededed;
}

.home_wrapper_2 .categories>div:nth-child(1),
.home_wrapper_2 .categories>div:nth-child(2),
.home_wrapper_2 .categories>div:nth-child(3),
.home_wrapper_2 .categories>div:nth-child(5),
.home_wrapper_2 .categories>div:nth-child(6),
.home_wrapper_2 .categories>div:nth-child(7){
  border-right: 1px solid #ededed;
}

.famous_card{
  padding: 30px 20px 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  background: #fff;
}

.famous_card .famous_content{
  color: #fff;
}

.famous_card .famous_content h6{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.famous_card .famous_content h4{
  font-size: 22px;
  line-height: 38px;
  font-weight: 500;
  text-transform: capitalize;
}
.famous_card .famous_content p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  color: #999;
  padding-left: 6px;
  text-transform: capitalize;

}

.famous_card img{
  width: 95%;
  height: 250px !important;
  margin: 0 auto;
  display: flex;

}
