.cart_headers , 
.cart_data{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.cart_headers h4{
  font-size: 16px;
  color: #777;
}

.cart_col_1{
  width: 40%; 
  img{
    width: 120px;
  }
  p{
    color: #777;
    font-size: 14px;
  }
}

.cart_col_2{
  width: 10%;
  .price{
    font-size: 18px;
    color: var(var(--color-title));
  }
}
.cart_col_3{
  width: 15%;
}
.cart_col_3{
  width: 15%;
}