.contact_inner_wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.contact_inner_wrapper > div:last-child{
  margin: 30px 0 30px 100px;
}

.contact_inner_wrapper > div{
  width: 48%;
}

.contact_title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.contact_inner_wrapper form .form-control {
  background: var(--color-light);
  border: none;
  padding: 10px;
  border-color: transparent;
}

.contact_info li {
  color: #777;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact_info li a{
  color: #777;
}

@media screen and (max-width:768px) {
  .contact_inner_wrapper {
    flex-direction: column-reverse;
    gap: 50px ;
  }
  .contact_inner_wrapper > div{
    width: 95% !important;
    gap: 20px;
  }

  .contact_inner_wrapper > div:last-child{
    margin: 0;
  }
  
}
