.product_card{
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.product_card:hover .action_bar{
  right: 15px;
}

.product_image img {
  transition: all .3s ;
  width: 88%;
  height: 200px;
  margin-bottom:  10px;
  
}

.product_card:hover .product_image img{
  transform: scale(.9);

}

.product_card .product_details h6{
  color: var(--dark-orange);
  font-size: 13px;
}

.product_card .product_details .product_title{
  font-size: 15px;
  color: var(--color-title);
}

.product_card .product_details .description{
  color: var(--color-second);
  font-size: 13px;
  margin-right: 30px;
}

.product_card .product_details .price{
  font-size: 16px;
  color: var(--color-title);
  font-weight: 500;
}

.wish_list_icon{
  position: absolute;
  top: 35px;
  right: 20px;
  cursor: pointer;
  z-index: 55;
}

.action_bar{
  position: absolute;
  top: 15%;
  right: -30px;
  transition: all .3s  ;
}

.action_bar img{
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  transition: all .3s ;

}
.action_bar img:hover{
  background: var(--orange-color);
  
}

.gr-12{
  width: 100% !important;
}

.gr-6{
  width: 49% !important;
}

.gr-4{
  width: 32%;
}

.gr-3{
  width: 24%;
}
.gr-12 .product_card{
  display: flex !important;
  align-items: center;
  gap: 20px;
}

.gr-12 .product_card .product_image img{
  width: 270px;
}

.gr-12 .product_card .action_bar{
  top: 30%;
}
.gr-3 .product_card .action_bar{
  top: 20%;
}
