.single_blog_card a{
  font-size: 17px;
  color: #777;
}

.single_blog_card h3{
  font-size: 24px;
  font-weight: 600;
  color:var(--color-title)
}
.single_blog_card p{
  color:#777;
  font-size: 14px;
}